<ion-view view-title="Acerca de Sense IT">
  <ion-content class="has-header">
    <div class="card" style="text-align:center">
      <img class="smaller" src="img/logo_transparent.png"></img><br/>
      <p align="center"> Sense IT es una aplicacion de realidad virtual gratuita y de alta calidad</p>
    </div> 

    <div class="card" style="text-align:center">
      <p align="center"> Creado por: </p>
      <img class="small" src="img/sphereEntertainment.png"></img><br/>
      <p align="center"> Contacto: info@sphereentertainment.com.ar <br/>
                         Version 1.0.3</p>
    </div>
    
  </ion-content>
</ion-view> 


