
<ion-modal-view width="100%" height="50%" opacity= "0.3">
	<ion-view view-title="Buscar" >
		<ion-content class="has-header" opacity= "0.3">
			<div class="list card" valign="center" >
			  <div class="item" align="center">
			  	
				<div class="list list-inset">
				  <label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" ng-model="enteredValue" placeholder="Buscar">
				  </label>
				</div>
					
			  </div>
			  <a class="item" align="center" href="#">
			    <button class="button button-block button-positive" margin-top="200px" ng-Click="findValue(enteredValue)">
		        	Buscar
		      	</button> 
		      </a>

			</div>
	    </ion-content>
	</ion-view>
</ion-modal-view>