<ion-modal-view style="width:100%; height:100%;">
	<ion-view view-title="Login">
		<ion-content class="has-header">
			<div class="list card" valign="center">
			  <div class="item" align="center">
			    <img src="img/logo_transparent.png" width="50%" height="50%" align="center">
			    <p>Sense IT</p>
			  </div>
			  <a class="item">
			    <button class="button button-block button-positive" margin-top="200px" ng-click="fbLogin()">
		        	Login con Facebook
		      	</button> 
		      </a>

			</div>
	    </ion-content>
	</ion-view>
</ion-modal-view>