
<ion-view view-title="Mis Videos">
  <ion-nav-buttons side="right">
      <i class="icon ion-ios-download-outline placeholder-icon bigger" style="margin-right:10px" ng-click="download()"></i>
      <i class="icon ion-ios-upload-outline placeholder-icon bigger" style="margin-right:10px" ng-click="upload()"></i>
   </ion-nav-buttons>
  <ion-content class="has-header">
 
    <div class="list" ng-controller="VideosCtrl" show-reoder="true">     
         <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefreshVideos()">
        </ion-refresher>
        <h5 class= "letra-videos" ng-show="!videos.length">El usuario no tiene videos</h5>

        <ion-item class="item center" ng-click="open(video)" ng-repeat="video in videos">

          <div ng-bind-html="video.url"></div>
          <h3 class="left">{{video.title}}</h3>
          <p show-data='' youtube="{{video.url}}"></p>
          <p class="left">{{video.description}}</p>
        </ion-item>  

        <ng-switch on="anyItemOpen()">
          <div ng-switch-when="true">
            <div ng-controller="VideoCtrl">
               {{opened.title}}: overlay: tweet, share, pin
            </div>  
           <a ng-click="close()">close</a>         
          </div>
        </ng-switch>  

  </ion-content>
</ion-view> 
