
<ion-view view-title="Mis Videos" side="center">
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <div class="list" ng-controller="VideosCtrl" show-reoder="true">     

        <ion-item class="item item=thumbnail-left" ng-repeat="video in videos">
          <div ng-bind-html="video.url_preview"></div>
          <h3 ng-click="open(video)">{{video.title}}</h3>
          <p show-data='' youtube="{{video.url_preview}}"></p>
          <p>{{video.description}}</p>
        </ion-item>  

        <ng-switch on="anyItemOpen()">
          <div ng-switch-when="true">
            <div ng-controller="VideoCtrl">
               {{opened.title}}: overlay: tweet, share, pin
            </div>  
           <a ng-click="close()">close</a>         
          </div>
        </ng-switch>  

  </ion-content>
</ion-view> 