/* Empty. Add your own CSS if you like */

.smaller{
	font-size: 40px !important;
	max-width: 55px !important;
	max-height: 50px !important;
	margin: 0 !important;
	padding: 0 0 0 0 !important;
}

.letra-videos{
    text-align: center;
    padding-top: 30px;
    color: #3385FF;
}

.center {
    margin: auto;
    text-align: center;
}

.vertical-align-medio{
    vertical-align: middle;
    padding-top: 30%;
}

.margin-centro{
    margin: auto;
}

.left{
    text-align: left;
    padding-left: 41px;
}
.popup-body{
    text-align: center !important;
}
.rounded-icon {
    border: 3px solid #000000;
    display: inline-block;
    border-radius: 36px;
    width: 26px;
    height: 26px;
    text-align: center;
}
.reorder-icon {
    border: 3px solid #000000;
    border-radius: 36px;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
}

.bigger{
     font-size: 30px;
}

.smaller{
    font-size: 70px;
}

.small{
    font-size: 120px !important;
    max-width: 115px !important;
    max-height: 110px !important;
    margin: 0 !important;
    padding: 0 0 0 0 !important;
}

.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

.separate {
   padding-right: 10px;
}

