<h1>Bienvenido a SenseIT.com</h1>
<p>Sube y comparte tus videos 3d!</p>

<p>Title: <%= @youtube_video.title %><br></p>
<p>Url: <%= @youtube_video.url %></p>

<%= link_to "Subir un video", new_video_path %> <br>
<%= link_to "Listado de usuarios", users_path %>
