<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.plugin"
    version="1.0.2">

	<name>echo</name>
	<description>Foo plugin description</description>
	<author>Foo plugin description</author>
	<keywords>foo,bar</keywords>
	<license>Apache 2.0 License</license>

	<!-- a single file, to be copied in the root directory 
	<asset src="src/calendar.js" target="js/calendar.js" />-->
	
	<js-module src="www/echo.js" name="echo">
		<clobbers target="window.plugins.echo" />
        <!--<clobbers target="echo" />-->
    </js-module>

	<platform name="android">
    <!-- android-specific elements -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Echo">
        <param name="android-package" value="org.apache.cordova.plugin.Echo" />
      </feature>
    </config-file>


    <source-file src="src/android/org/apache/cordova/plugin/Echo.java" target-dir="src/org/apache/cordova/plugin"/>	
	</platform>

	<!-- android src: Location of the file relative to plugin.xml target-dir: A directory into which the files should be copied, relative to the root of the Cordova project-->

</plugin>


